http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html - более подробно о методах

In [1]:
import pandas

In [4]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [42]:
data[:5]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [11]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [15]:
data['Pclass']

PassengerId
1      3
2      1
3      3
4      1
5      3
6      3
7      1
8      3
9      3
10     2
11     3
12     1
13     3
14     3
15     3
16     2
17     3
18     2
19     3
20     3
21     2
22     2
23     3
24     1
25     3
26     3
27     3
28     1
29     3
30     3
      ..
862    2
863    1
864    3
865    2
866    2
867    2
868    1
869    3
870    3
871    3
872    1
873    1
874    3
875    2
876    3
877    3
878    3
879    3
880    1
881    2
882    3
883    3
884    2
885    3
886    3
887    2
888    1
889    3
890    1
891    3
Name: Pclass, dtype: int64

In [16]:
# Для подсчета некоторых статистик (количества, среднее, максимум, минимум) 
# можно также использовать методы датафрейма
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

## Выполнение первой домашки

Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [19]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [20]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [39]:
res = 342 / float(549 + 342) * 100
print round(res, 2)

38.38

Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [24]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [37]:
res = 216 / float(216 + 184 + 491) * 100
print round(res, 2)

24.24

Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [36]:
mean_age = data['Age'].mean()
median_age = data['Age'].median()
print round(mean_age,2),median_age

29.7 28.0

Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [33]:
data[['SibSp', 'Parch']].corr('pearson')

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [56]:
df1 = data[data.Sex=="female"]["Name"]
print df1

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
23                           McGowan, Miss. Anna "Annie"
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                         O'Dwyer, Miss. Ellen "Nellie"
32        Spencer, Mrs. William Augustus (Marie Eugenie)
33                              Glynn, Miss. Mary Agatha
39                    Vander Planke, Miss. Augusta Maria
40                           Nicola-Yarred, Miss. Jamila
41        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
42     Turpin, Mrs. William John Robert (Dorothy Ann ...
44              Laroche, Miss. Simonne Marie Anne Andree
45                         Devaney, Miss. Margaret Delia
48                             O'Driscoll, Miss. Bridget
50         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53              Harper, Mrs. Henry Sleeper (Myna Haxtun)
54     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                                     Rugg, Miss. Emily
59                          West, Miss. Constance Mirium
62                                   Icard, Miss. Amelie
                             ...
808                      Pettersson, Miss. Ellen Natalia
810       Chambers, Mrs. Norman Campbell (Bertha Griggs)
814                   Andersson, Miss. Ebba Iris Alfrida
817                         Heininen, Miss. Wendla Maria
821    Hays, Mrs. Charles Melville (Clara Jennings Gr...
824                                   Moor, Mrs. (Beila)
830            Stone, Mrs. George Nelson (Martha Evelyn)
831              Yasbeck, Mrs. Antoni (Selini Alexander)
836                          Compton, Miss. Sara Rebecca
843                              Serepeca, Miss. Augusta
850         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853                              Boulos, Miss. Nourelain
854                            Lines, Miss. Mary Conover
855        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
856                           Aks, Mrs. Sam (Leah Rosen)
857           Wick, Mrs. George Dennick (Mary Hitchcock)
859                Baclini, Mrs. Solomon (Latifa Qurban)
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, dtype: object